body {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/Background.png);
  background-size: cover; /* para cobrir toda a tela*/
  background-position: right top; /*para fixar a direita e em cima*/
  background-color: #0008;
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
  padding-left: 80px;
}
.logo {
  background-color: darkblue;
}
.menu {
  background-color: darkgoldenrod;
}

main {
  flex-grow: 1;
}

footer {
  height: 70px;
  background-color: crimson;
}
